.v-search{
  width: 100%;
  height: 30px;
  display: inline-block;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  form {
    position: relative;
  }
  &__input {
    width: 100%;
    height: 30px;
    padding-left: 32px;
    border: 1px solid $light-border-color;
    border-radius: 15px;
    font-size: 14px;
  }
  .icon {
    width: 14px;
    height: 14px;
    img {
      width: 100%;
    }
  }
  &__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%)
  }
  &__close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%)
  }
}
