.v-switch {
  display: block;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
  > input {
    width: 0;
    height: 0;
    display: none;
  }
  &__scale {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-color: $bgwhite;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.45, 1, 0.4, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.45, 1, 0.4, 1);
    transition: transform 0.3s cubic-bezier(0.45, 1, 0.4, 1);
    transition: transform 0.3s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.3s cubic-bezier(0.45, 1, 0.4, 1);
  }
  &__button {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    transition: 0.3s;
    background: $white;
    box-shadow: $box-shadow;
  }
  &.disabled {
    opacity: 0.6;
  }
  &.active {
    border: 1px solid $blue;
    background: $blue;
  }
  &.inactive {
    border: 1px solid $gray-light;
    background: $bgwhite;
  }
  &.checked  &__scale {
    transform: scale(0)
  }
}
