/* color variables */
$black: #000;
$white: #fff;
$red: #f44;
$blue: #38f;
$orange: #f60;
$green: #06bf04;
$gray: #c9c9c9;
$gray-light: #e5e5e5;
$gray-darker: #666;
$gray-dark: #999;

/* default colors */
$text-color: #333;
$border-color: #ccc;
$white-border-color: #f2f2f2;
$light-border-color: #dcdcdc;
$active-green: #9AE8E3;
$active-color: #e8e8e8;
$bg-color: #f8f8f8;
$bgwhite: #fdfdfd;
$bgdark: #37373D;
$mask-bg-none: rgba(0, 0, 0, 0);
$mask-bg-color: rgba(0, 0, 0, .4);
$mask-bg-color-8: rgba(0, 0, 0, .8);

/* button */
$button-default-color: $text-color;
$button-default-bg-color: $white;
$button-default-border-color: $gray-light;
$button-primary-color: $white;
$button-primary-bg-color: $blue;
$button-primary-border-color: #3678d4;
$button-warn-color: $white;
$button-warn-bg-color: $red;
$button-warn-border-color: #e33;
$button-disabled-color: $gray-dark;
$button-disabled-bg-color: $gray-light;
$button-disabled-border-color: $border-color;
// $button-bottom-action-default-color: $white;
// $button-bottom-action-default-bg-color: #f85;
// $button-bottom-action-primary-color: $white;
// $button-bottom-action-primary-bg-color: $red;

/* box-shadow */
$box-shadow: 0 1px 3px $mask-bg-color;

/* font-size */
$f12: 12px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
